.teamplateAdmin {
    .bodyContentWrapper {
        display: flex;

    }
}

.bodyContentWrapper {
    .sidebar {
        width: 320px;
        height: 100vh;
        background-color: black;
        padding: 10px
    }
}