.templateAdmin {
    .bodyContentWrapper {
        display: flex;
        flex-direction: row;
    }
}

// sidebar

.bodyContentWrapper {
    .sidebar {
        width: 20%;
        height: 100vh;
        background-color: black;
        padding: 10px
    }
}

.sidebarHeader {
    padding: 30px 15px;

    .logo {
        width: 90px;
    }
}

// content
.bodyContentWrapper {
    .content {
        .wrapper {
            padding: 24px
        }
    }
}