.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper {
    .tabLeft {
        .name {
            font-size: 0.875rem;
            font-weight: 500;
            color: white
        }
    }
}

.wrapper {
    .tabRight {}
}